.ui-panelgrid.ui-widget tr, .ui-panelgrid.ui-widget td {
    border: 0;
}
.ui-state-hover {
    border-radius: 8px !important;
}
.ui-inputfield.ui-state-error, .ui-widget-header .ui-inputfield.ui-state-error, .ui-widget-content .ui-inputfield.ui-state-error {
    border-left: 2px solid #ef5350;
}
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    /*border: 1px solid #1f89ce;*/
    /*color: #fff;*/
    /*background: #2399e5;*/
}
button.ui-button.ui-state-hover, .ui-button.ui-state-hover,
button.ui-button.ui-state-focus, .ui-button.ui-state-focus {
    /*border: 1px solid #156090;*/
    /*background: #1f89ce;*/
    outline: 0 none;
}
.ui-autocomplete .ui-autocomplete-dropdown {
    position: absolute;
    height: 100%;
    width: 2.4em;
    right: -2px;
}